<header class="header">
    <div class="container-left-header">
        <h1 class="logo-header">LOGO</h1>
        <div class="search-bar">
            <p>search</p>
            <div>icon</div>
        </div>
    </div>
    <div class="container-right-header">
        <ul>
            <li class="opt-header">Friends</li>
            <li class="opt-header">Lists</li>
            <li class="opt-header">Reviews</li>
            <li class="user-header"><img src="#" alt="User"></li>
        </ul>
    </div>
</header>